
<style>
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

</style>
<nav class="container-fluid col-lg-12 col-md-12 col-sm-12">


</nav>
<!-- navbar needs to be checking the status of authentication and authorization to change depending. -->