
#bookshelf {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-auto-rows: minmax(350px, 350px) !important;
    align-items: start !important;
    padding: 28px;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.book-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 250px;
    overflow: hidden;
}

.book-cover {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

.book-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center !important;
}

.sort-container,
.filters-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid gray;
}

.sort,
.filters {
    outline: none !important;
    border: 0 !important;
}
/* table devices */

/* mobile devices 
    android and ios: Samsung Galaxy A and S series, Google Pixel, iPhone 12+ ... iPhone @latest version
*/
@media only screen and (max-width: 576px) {

    main {
        padding: 0 !important;
    }

    #bookshelf {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-auto-rows: minmax(350px, 350px) !important;
        padding: 0 !important;
        margin-top: 16px !important;
    }

    .book-cover {
        max-width: 100%;
        max-height: 150px;
    }
}